# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.python-version

# Django related
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/

# PyPI build tools
.pyproject-build/
